{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "react/jsx-filename-extension": 0,
    "arrow-parens": 0,
    "jsx-a11y/href-no-hash": "off"
  },
  "globals": {
    "__DEV__": true,
    "expect": true,
    "window": true,
    "document": true
  },
  "env": {
    "mocha": true,
    "browser": true,
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
